form {max-width: 480px; margin:10px auto 0;}

.form-group {position: relative;}

.form-group > .btn-default {
	position: absolute;
	top: 1px;
	right: 0;
    border-radius: 0 0;
    background-color: #fff;
    outline: 1px solid #d9d9d9;
	padding: 7px 15px;
}

td, th {
	vertical-align: middle !important;
	text-align: center !important;
}

td:first-of-type {
	height: 200px;
	width: 250px;
}